@import 'reset';
@import 'transitiongroups';

html{
  font-size:62.5%;
  background-color: white;
}

body{
  font-family: 'Arvo', 'Helvetica' , 'Arial' ,serif;
  font-size:1.5rem;
}

html,body, .container, .react-app{
  width:100%;
  height:100%;
}

::-webkit-scrollbar {
    display: none;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  background: url('/assets/img/palm.jpg') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  // border: 10px solid green;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 550px;
    margin-bottom: 3%;
  }
  h1 {
    font-family: 'adam', 'Helvetica', 'Arial';
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 5%;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-transform: uppercase;
}

.social-media {
  width: 138px;
  height: 30px;
  position: absolute;
  bottom: 30px;
  right: 42px;
  .facebook, .behance, .instagram {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    display: inline;
    background-size: 100%;
    float: left;
  }
  .facebook{
    background-image: url('/assets/img/fb.png');
  }
  .behance{
    background-image: url('/assets/img/bh.png');
  }
  .instagram{
    background-image: url('/assets/img/insta.png');
  }
}

.fullscreen {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  // background: url('/assets/img/palm.jpg') no-repeat center center fixed;
  // background-size: cover;
  position: fixed;
  h1 {
    position: fixed;
  }
}

.corner-logo {
  position: fixed;
  left: -60px;
  top: -60px;
  width: 300px;
  height: 300px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  img {
    width: 45%;
    margin: 5% 0;
  }
  &:hover {
    left: -90px;
    top: -90px;
    width: 400px;
    height: 400px;
    button {
      font-size: 1.8em;
    }
  }
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.4em;
    font-family: 'adam', 'Helvetica', 'Arial';
    transition: all 0.5s ease;
  }
  &.animate {
    transform: scale(0);
  }
}

.graphic {
  background-color: #2E2D2B;
}

.arrow-graphic, .arrow-web {
  text-align: center;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

.arrow-graphic {
  top: 20px;
  img {
    width: 100px;
    display: block;
    margin: 15px auto;
  }
  span {
    opacity: 0;
    position: relative;
    top: -30px;
    transition: all ease 1s;
  }
  &:hover {
    span {
      top: 0;
      opacity: 1;
    }
    img {
      width: 120px;
    }
    cursor: pointer;
  }
}
.arrow-web {
  bottom: 20px;
  img {
    width: 100px;
    display: block;
    margin: 15px auto;
    transform: rotate(180deg);
    transition: all ease 1s;
  }
  span {
    opacity: 0;
    position: relative;
    top: 30px;
    transition: all ease 1s;
  }
  &:hover {
    span {
      top: 0;
      opacity: 1;
    }
    img {
      width: 120px;
    }
    cursor: pointer;
  }
}

.arrow-cv {
  height: 100px;
  position: absolute;
  right: 20px;
  top: 50%;
  text-align: right;
  img {
    width: 100px;
    transform: rotate(90deg);
    transition: all ease 1s;
  }
  span {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 200px;
    transition: all ease 1s;
  }
  &:hover {
    span {
      opacity: 1;
      right: 100px;
    }
    img {
      width: 120px;
    }
    cursor: pointer;
  }
}

.arrow-motion {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 20px;
  transition: all ease 1s;
  img {
    width: 100px;
    transform: rotate(270deg);
    transition: all ease 1s;
  }
  span {
    opacity: 0;
    position: absolute;
    top: 10px;
    margin-left: -50px;
    width: 200px;
    transition: all ease 1s;
  }
  &:hover {
    span {
      opacity: 1;
      margin-left: -15px;
    }
    img {
      width: 120px;
    }
    cursor: pointer;
  }
}

.macbook{
  width: 800px;
  position: relative;
  z-index: 2;
  img {
    width: 100%;
  }
  .screen-overlay{
    width: 91.6%;
    height: 63.7%;
    position: absolute;
    z-index: 3;
    left: 4.15%;
    top: 4.5%;
    overflow-y: scroll;
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.tv{
  width: 800px;
  position: relative;
  z-index: 2;
  iframe{
    width: 94.75%;
    height: 76.4%;
    position: absolute;
    z-index: 3;
    left: 2.7%;
    top: 9.3%;
  }
  img {
    width: 100%;
  }
}






//GRAPHIC!!!

.round-container {
  width: 600px;
  min-height: 600px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  img.rounded {
    width: 100%;
    border-radius: 50%;
  }
  &.no-overflow {
    overflow: visible;
  }
}

.hover-info {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,0), inset 0px 0px 0px 10px rgba(255,255,255,0.8);
  transition: all 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,0.8),
    inset 0px 0px 0px 300px RGBA(0, 0, 0, 0.7);
    .hover-text{
      opacity: 1;
      transform: scale(1);
    }
  }
}

.hover-text{
  width: 65%;
  text-align: center;
  color: white;
  transform: scale(0);
  transition: all 0.6s ease;
  opacity: 0;
  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 2.8em;
    line-height: 1.4em;
    font-family: 'adam', 'Helvetica', 'Arial';
  }
  p {
    line-height: 1.6em;
    font-family: 'open sans';
    font-weight: 300;
  }
  .divider {
    width: 60px;
    border-bottom: 0.5px solid white;
    margin: 0 auto;
  }
}


.previousButton, .nextButton {
  width: 70px;
  height: 70px;
  background-image: url('/assets/img/arrow.png');
  background-repeat: no-repeat;
  background-size: 60% 40%;
  background-position: center center;
  margin: 30px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
  cursor: pointer;
}

.previousButton {
  transform: rotate(-90deg);
  transition: all 1s ease;
  &:hover {
    box-shadow: inset 0px 0px 0px 40px rgba(255,255,255,0.3);
    transition: all 0.6s ease-out;
  }
}

.nextButton {
  transform: rotate(90deg);
  transition: all 1s ease;
  &:hover {
    box-shadow: inset 0px 0px 0px 40px rgba(255,255,255,0.3);
    transition: all 0.6s ease-out;
  }
}












//GENERAL !!!

.mobile {
  display: none;
}

.tablet {
  display: none;
}

.loader {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  z-index: 7;
  animation: spin 1s infinite ease;
}

@keyframes spin {
    0% {
      width: 20px;
      height: 20px;
      margin: -10px 0 0 -10px;
    }
    20% {
      width: 40px;
      height: 40px;
      margin: -20px 0 0 -20px;
      box-shadow: inset 0px 0px 0px 25px rgba(255,255,255,0.7);
    }
    80% {
      box-shadow: inset 0px 0px 0px 5px rgba(255,255,255,1);
    }
    100% {
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
    }
}

.about-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.info, .degrees, .me, .skills, .experience, .code {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin-left: -35px;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  transition: all ease-in 0.3s;
  z-index: 10;
  &:hover {
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
  }
  &.active {
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    background-color: lightgray;
  }
}

.info {
  top: 0;
  left: 50%;
  margin-top: -35px;
  background-image: url('/assets/img/icons/info.png');
}

.skills {
  top: 25%;
  left: 93%;
  margin-top: -35px;
  background-image: url('/assets/img/icons/skills.png');
}

.me {
  top: 75%;
  left: 93%;
  margin-top: -35px;
  background-image: url('/assets/img/icons/me.png');
}

.code {
  bottom: 0;
  left: 50%;
  margin-bottom: -35px;
  background-image: url('/assets/img/icons/code.png');
}

.degrees {
  top: 75%;
  left: 6%;
  margin-top: -35px;
  background-image: url('/assets/img/icons/degree.png');
}

.experience {
  top: 25%;
  left: 6%;
  margin-top: -35px;
  background-image: url('/assets/img/icons/exp.png');
}

.about-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: all 0.6s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,0), inset 0px 0px 0px 10px rgba(255,255,255,0.8);
  &.active {
    box-shadow: inset 0px 0px 0px 10px rgba(255,255,255,1), inset 0px 0px 0px 300px rgba(0,0,0,0.6);
    transition: all 0.6s ease-out;
  }
}

.about-container-mobile, .about-nav-mobile {
  display: none;
}

.grafiek {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid white;
  padding-left: 10px;
}

.typography, .motion, .photography, .layout, .illustration, .photo-editing, .web-design {
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  transition: all ease 1s;
  &.start{
    width: 0%;
  }
  span{
    line-height: 0;
    color: black;
    font-family: 'adam', 'Helvetica', 'Arial';
    font-size: 1.2em;
    margin-left: 20px;
    text-transform: uppercase;
  }
}

.typography.end{
  width: 75%;
}

.motion.end{
  width: 60%;
}

.web-design.end{
  width: 70%;
}

.photography.end{
  width: 75%;
}

.photo-editing.end{
  width: 90%;
}

.layout.end{
  width: 70%;
}

.illustration.end{
  width: 85%;
}

.content-wrap {
  width: 70%;
  text-align: center;
  color: white;
  line-height: 1.4em;
  p.width-constraint{
    width: 350px;
    margin: 0 auto;
    transform: scale(0);
    transition: transform 1s ease;
    &.end {
      transform: scale(1);
    }
  }
}

.info-line {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  transition: transform 1s ease;
  transform: scale(0);
  p {
    margin-top: 3px;
  }
  img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    float: left;
    margin-right: 10px;
  }
  &.end {
    transform: scale(1);
  }
}

.work {
  transform: scale(0);
  transition: transform 1s ease;
  img {
    width: 50px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  h2 {
    text-transform: uppercase;
    line-height: 1.6em;
  }
  p {
    line-height: 1.5em;
  }
  margin: 30px 0;
  &.end{
    transform: scale(1);
  }
}

.degree {
  transform: scale(0);
  transition: transform 1s ease;
  img {
    height: 75px;
  }
  margin: 30px 0;
  &.end{
    transform: scale(1);
  }
}

.software-list {
  img {
    height: 50px;
    margin: 5px;
    transform: scale(0);
    transition: transform 1s ease;
  }
  &.end {
    img {
      transform: scale(1);
    }
  }
}

.traits {
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  img {
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
    float: left;
    padding: 3px;
    transition: all 1s ease;
    transform: scale(0);
    opacity: 0;
  }
  &.end{
    p {
      opacity: 1;
      transform: scale(1) translate(0,0);
    }
    img {
      opacity: 1;
      transform: scale(1);
    }
    h2 {
      transform: scale(1) translate(0,0);
    }
  }
}

.column {
  margin: 0 10px;
  font-family: 'adam', 'Helvetica', 'Arial';
  h2{
    text-align: left;
    font-size: 1.6em;
    transform: scale(0) translate(-100px, 0);
    transition: all 1s ease;
  }
  li {
    padding: 20px 0;
  }
  p {
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    opacity: 0;
    transition: all 1s ease;
    transform: scale(0) translate(-50px, 0);
  }
}

video {
  width: 800px;
}

.animate-out{
  transition: all 1s ease-in;
  transform: scale(0);
  opacity: 0;
}

.animate-in{
  transition: all 1s ease-out;
  transform: scale(1);
  opacity: 1;
}

@import 'mqueries';

